<!doctype html>
<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <%= render 'layouts/header_menu' %>

  <main role="main" class="inner cover">
    <%= yield %>
  </main>

  <%= render 'layouts/footer' %>
</div>
</body>
</html>
